[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
djangorestframework = "==3.7.3"
django = "==2.2.24"

[requires]
python_version = "3.6"
