[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
djangorestframework = "==3.11.2"
django = "==1.11.7"

[requires]
python_version = "3.6"
